@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lexend:wght@100..900&display=swap');

:root {
    --colorPrimario: #EBDED0;
    --blanco: #FFFFFF;
    --colorSecundario: #4c3325;

    --fuenteHeading: "Domine", serif;
    --fuenteBody: "Lexend", serif;
}

.hoja {
    background-color: var(--blanco);
}

.menu {
    padding: 20px;
    min-height: 45vh;
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 70px;
  }
}

.menu__titulo {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .menu__titulo {
    font-size: 48px;
  }
}

.menu__icono {
    width: 150px;
    height: auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
  .menu__icono {
    height: 150px;
  }
}

.menu__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

@media screen and (min-width: 768px) {
  .menu__grid {
    gap: 50px;
  }
}

.menu__grid > * {
    flex: 1 1 20%; 
    max-width: 20%; 
}

.menu__card {
    border: 3px solid var(--colorSecundario);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: var(--colorSecundario);
    transition: 0.4s all;
}

@media screen and (min-width: 768px) {
  .menu__card {
        padding: 30px 10px 40px 10px;
  }
}

.menu__card:hover {
    transform: scale(0.99);
}

.menu__texto {
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorPrimario);
    font-size: 12px;
}

@media screen and (min-width: 768px) {
  .menu__texto {
    font-size: 24px;
    margin-top: 35px;
  }
}

.password{
  position: relative;
}

.toggle-btn{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}