@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lexend:wght@100..900&display=swap');

:root {
    --colorPrimario: #EBDED0;
    --blanco: #FFFFFF;
    --colorSecundario: #4c3325;

    --fuenteHeading: "Domine", serif;
    --fuenteBody: "Lexend", serif;
}

.contenedor {
    max-width: 90%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--colorSecundario);
}

img {
    max-width: 100%;
}

body {
    background-image: url(img/bg-login.webp);
    font-family: var(--fuenteBody);
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    font-weight: bold;
    color: var(--colorSecundario);
}

@media screen and (min-width: 768px) {
    .login {
        max-height: 100vh;
    }
}



.login__contenedor {
    padding: 30px;
    background-color: var(--blanco);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 70px;
    border-radius: 0px;
    align-items: center;


    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media screen and (min-width: 768px) {
    .login__contenedor {
        grid-template-columns: 5fr 5fr;
        border-radius: 65px;
        margin: 30px;
        padding: 50px;
    }
}

.login__img {
    display: none;
}

@media screen and (min-width: 768px) {
    .login__img {
        display: inline-block;
        max-height: 80vh;
        width: 100%;
        object-fit: cover;
        border-radius: 65px;
    }
}

.login__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__titulo {
    font-size: 48px;
    font-family: var(--fuenteHeading);
    text-align: center;
    color: var(--colorSecundario);
    margin-bottom: 30px;
}

.login__subtitulo {
    color: var(--colorSecundario);
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.alerta__login {
    background-color: #E51022;
    padding: 10px;
    color: var(--blanco);
    text-align: center;
    margin-bottom: 30px;
}

.login__campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    color: var(--colorSecundario);
    font-weight: bold;
}

.login__label {
    font-size: 24px;
}

.login__input {
    padding: 15px 10px;
    font-size: 18px;
    font-family: inherit;
    border: 3px solid var(--colorSecundario);
    color: var(--colorSecundario);
}

.login__input::placeholder {
    color: var(--colorSecundario);
}

.login__btn {
    font-family: inherit;
    font-size: 24px;
    width: 100%;
    display: block;
    border: none;
    background-color: var(--colorSecundario);
    color: var(--blanco);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s all;
    border: 3px solid var(--colorSecundario);
}

.login__btn:hover {
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
}

/* HEADER */
.header {
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--colorSecundario);
}

.header__logo {
    font-weight: bold;
    font-size: 24px;
}

@media screen and (min-width: px) {
  .header__logo {
    font-size: 36px;
  }
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media screen and (min-width: 768px) {
    .header__nav {
        gap: 35px;
    }
}

.header__icono {
    width: 40px;
    height: 40px;
    color: var(--colorSecundario);
}

.header__textoicono {
    text-align: center;
}

.header__btn {
    transition: 0.4s all;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header__btn:hover .header__icono {
        transform: scale(0.98);
    }
}

/* FOOTER */
.footer {
    background-color: var(--colorSecundario);
    text-align: center;
    padding: 10px;
    color: var(--colorPrimario);
    font-weight: bold;
    font-size: 14px;
}

/** MODULOS **/
.contenedor__modulo {
    padding: 50px;
}

.heading {
    text-align: center;
    margin: 20px 0;
}

.controles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
}

.filtros {
    display: flex;
    gap: 50px;
}

.buscador__label,
.ordenar__label {
    margin-bottom: 10px;
}

.buscador__input,
.ordenar__select {
    font-family: inherit;
    padding: 15px;
    min-width: 250px;
    color: var(--colorSecundario);
    font-weight: bold;
}

.botones__buscar,
.botones__crear {
    font-size: 18px;
    padding: 15px 50px;
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all;
}

.botones__buscar:hover {
    transform: scale(0.99);
    font-weight: bold;

}

.botones__buscar {
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
}

.botones__crear:hover {
    transform: scale(0.99);
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla__encabezado {
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
}

.tabla__encabezado th {
    padding: 10px;
}

.tabla__fila td{
    padding: 20px;
    text-align: center;
}

.tabla__botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.tabla__boton {
    height: 30px;
    cursor: pointer;
}

.formulario {
    max-width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    overflow-x: scroll;
}

.formulario__submit {
    grid-column: 1 / 3;
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario__input,
.formulario__select {
    padding: 10px;
    font-family: inherit;
    color: var(--colorSecundario);
    font-weight: bold;
    border: 2px solid var(--colorSecundario);
}

.formulario__submit {
    background-color: var(--colorSecundario);
    border: none;
    padding: 20px;
    color: var(--colorPrimario);
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.atras {
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
    font-weight: bold;
    padding: 15px 40px;
    font-size: 14px;
}